In [3]:
import pandas as pd

In [11]:
colors = pd.Series(["Red", "Green", "Yellow"])
colors

0       Red
1     Green
2    Yellow
dtype: object

In [12]:
car_types = pd.Series(["Volkswagon", "Audi", "Mahindra"])
car_types

0    Volkswagon
1          Audi
2      Mahindra
dtype: object

In [15]:
car_info = pd.DataFrame({"Manufacturer":car_types, "color":colors})
car_info

  Manufacturer   color
0   Volkswagon     Red
1         Audi   Green
2     Mahindra  Yellow

In [33]:
car_sales = pd.read_csv("car_sales.csv")
car_sales.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [32]:
car_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Manufacturer  3 non-null      object
 1   color         3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes

In [38]:
num = pd.Series([1,22,3,123,24,345,345,56,345,76])
num.sum()

1340